@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1 style="text-align:center">Bienvenido al sistema de compras</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/Img/Compras.png" style="width:100%;" alt="Logo" />

</main>